:root {
    --blue-main: rgb(38, 0, 255);
    --red-main: rgb(254, 35, 35);
}

body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        5deg,
        rgba(112, 14, 158, 1) 39%,
        rgba(109, 87, 199, 1) 84%
    );
}

.principal-box {
    padding: 20px 40px;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    background: black;

    border: 2px solid blue;
    border-radius: 20px;
}

.buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.good-btt,
.bad-btt {
    padding: 15px 30px;

    color: white;
    border: none;
    border-radius: 30px;

    cursor: pointer;
}

.good-btt {
    background: var(--blue-main);
}

.bad-btt {
    background: var(--red-main);
}

.bad-btt:hover {
    font-size: 0;
    background: var(--blue-main);
}

.bad-btt:hover::after {
    content: attr(data-hover);
    font-size: 13px;
}

.good-btt:active,
.bad-btt:active {
    transform: scale(0.95) translateY(3px);

    box-shadow:
        0 0 2px white,
        0 0 5px white;
}

/* Tela escura */

#janela-imagem {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.7);

    z-index: 9999;
}

#imagem-central {
    max-width: 80%;
    max-height: 80%;
    border-radius: 15px;
    scale: 3;
}

.escondido {
    display: none !important;
}