:root{
    --blue-main: rgb(38, 0, 255);
    --red-main: rgb(254, 35, 35);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    background: linear-gradient(5deg,rgba(112, 14, 158, 1) 39%, rgba(109, 87, 199, 1) 84%);
}

.principal-box{
    border: 2px solid blue;
    padding: 10px 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    align-content: center ;
    align-items: center;
}

.buttons{
    margin-bottom: 20px;
    display: flex;
    gap: 10px  
} 

.good-btt{

    background: var(--blue-main);
    border: 10px;
    border-radius: 30px;
    padding: 15px 30px;
    color: white;
}
.bad-btt{
    background: var(--red-main);
    border: 10px;
    border-radius: 30px;
    padding: 15px 30px;
    color: white;
}

/* Esconde o texto real do botão tirando o tamanho dele ao fazer hover */
.bad-btt:hover {
    font-size: 0;
    background: var(--blue-main);
    
  }
  
  /* Injeta o texto do atributo data-hover e restaura o tamanho da fonte */
  .bad-btt:hover::after {
    content: attr(data-hover);
    font-size: 13px; /* Ajuste para o tamanho original da sua fonte */
  }

.bad-btt:active,
.good-btt:active {
    transform: scale(0.95) translateY(3px);
    box-shadow:
        0 0 2px #ffffff,
        0 0 5px #ffffff;
}
